*.ipynb_checkpoints/
*.vscode/
*.idea/
*.pyc
venv/
build/
*.so
*.pth
*.pkl
*.zip
*.bin
*.pdf
*version.py
*.npy
*.DS_Store
*.sbatch
*.out

**__pycache__**
**build**
**egg-info**
output/*

*.err
*.out
*.slurm

tools/update_reminder.txt

tools/train_random_source_target.py
*/logs/*
data/avlrooftop/gt_database
data/avlrooftop/sequences

data/avltruck/gt_database
data/avltruck/sequences

data/zod/gt_database_full
data/zod/gt_database_mini
data/zod/gt_database_small
data/zod/single_frames
data/zod/trainval-frames-mini.json
data/zod/trainval-frames-full.json

data/*
tools/test_crossdataset_okeanos.sh
tools/train_okeanos.sh
tools/test_okeanos.sh
tools/viz

output_okeanos/
tools/multieval_okeanos.py
tools/test_crossdataset_multi_okeanos.sh
tools/train_with_multieval_okeanos.sh
tools/test_multidataset_multi_okeanos.sh
tools/train_multi_with_pretrained_okeanos.sh
tools/test_multidataset_okeanos.sh
tools/test_multidetmultidataset_nosweep_okeanos.sh
tools/test_multidetmultidataset_okeanos.sh
tools/train_multi_with_pretrained_nosweep_okeanos.sh
tools/xtrain_with_multieval_okeanos.sh
tools/selftrain_okeanos.sh
tools/train_st_okeanos.sh
tools/scripts/ST/dist_train_st.sh

gace_output/*
gace/gace_output/*
gace/data/*
output_okeanos
tools/train_with_pretrained_okeanos.sh
